
.progress {
    margin: 0px 0px 10px 0px;
}
/* login button on hover blends in too well. need a different color setup */
    /* maybe a grey outline? possibly white
     */
/* active buttons need to have blue removed */

/* need to choose which display format to use. carousel or search */

/* does google sign in have its own symbol? */

/* need to center the compare button on search */

/* font styling changes slightly throughout page
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */

/* put footer in---dynamic or static? */


#fullNav {
    background-color: #34003C;
    color: white;
}
.jumbotron {
    background-color: #CCC;
    color: #34003C;
    border-bottom: solid 1px #34003C;
    /* background-image: url("/assets/images/dg-logo-vGreyScale.png") */
}
.btn-primary {
    background-color: #630071;
    border-color: #630071;
    color: white;
}

.btn-primary:hover {
    background-color: #34003C;
    color: white;
    border-color: #34003C;
}
.btn-primary:disabled {
    opacity: .5;
    background-color: #34003C;
    border-color: #34003C;
}
.btn-primary:active {
    border-color: #CCC!important;
    background-color: #34003C!important;
}

.processButton .fa-spinner {
    display: none;
}
.processButton.active .fa-spinner {
    display: inline-block;
}

.progress-bar {
    background-color: #630071;

}

#tdmbSubmit {
    width: 140px;
}

#celebritySearch {
    width: calc(100% - 140px);

}

.card-header {
    background-color:  #34003C
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: #34003C;
    border-radius: 10px;
}

.carousel-indicators .active {
    background-color: #34003C;
}

.carousel-indicators li {
    background-color: #8b039e;
}

.pictureCard {
    height: 580px;
    /* border-color: #34003C; */
    border: solid 1px #34003C!important;
    border-radius: .25rem;
}

.pictureCard .card-body, .pictureCard .carousel-inner, .pictureCard .carousel-item, .carousel {
    height: 100%;
}

.pictureCard .card-body {
    overflow: hidden;
}

.pictureCard .carousel-item img {
    margin: 0 auto;
}

.googleIcon {
    background-image: url('../images/GoogleIcon.png');
    background-size: contain;
    height: 20px;
    width: 20px;
    margin-right: 6px;
}
.bg-light {
    background-color: #ccc!important;
}

.baseScoreboard {
    background-color: #ccc;
    border: solid 1px #34003C;
    padding: 5px 0px 5px 0px;
    border-radius: .25rem;
}

/* Primary Color: #34003C */
/* Secondary Color: #CCCCCC */
/* Tertiary Color:  White */
/* standard button color: #630071 */