
body {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

.progress {
    margin: 0px 0px 10px 0px;
}
/* login button on hover blends in too well. need a different color setup */
    /* maybe a grey outline? possibly white
     */
/* active buttons need to have blue removed */

/* need to choose which display format to use. carousel or search */

/* does google sign in have its own symbol? */

/* need to center the compare button on search */

/* font styling changes slightly throughout page
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */

/* put footer in---dynamic or static? */

#fullNav {
    background-color: #34003C;
    color: white;
}
.jumbotron {
    background: rgb(204,204,204, .5);
    color: #34003C;
    border-bottom: solid 1px #34003C;
    /* background-image: url("/assets/images/dg-logo-vGreyScale.png") */
}
.btn-primary {
    background-color: #630071;
    border-color: #630071;
    color: white;
}

.btn-primary:focus, .btn-primary:active, .btn-primary:target {
    border-color: #630071 !important;
    outline-color: #630071 !important;
    box-shadow: 0px 0px 5px 2px #630071 !important;
}

.btn-primary:hover {
    background-color: #34003C;
    color: white;
    border-color: #34003C;
    box-shadow: 0px 0px 5px 2px #630071;
}
.btn-primary:disabled {
    opacity: .5;
    background-color: #34003C;
    border-color: #34003C;
    box-shadow: none !important;
    outline-color: unset !important;
    border-color: unset !important;
}
.btn-primary:active {
    border-color: #CCC!important;
    background-color: #34003C!important;
}

.processButton .fa-spinner {
    display: none;
}
.processButton.active .fa-spinner {
    display: inline-block;
}

.progress-bar {
    background-color: #630071;

}

#tdmbSubmit {
    width: 100px;
}

#celebritySearch {
    width: calc(100% - 100px);

}

.card-header {
    background-color:  #34003C
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: #34003C;
    border-radius: 10px;
}

.carousel-indicators .active {
    background-color: #34003C;
}

.carousel-indicators li {
    background-color: #8b039e;
}

.pictureCard {
    height: 100%;
    /* border-color: #34003C; */
    border: solid 1px #34003C!important;
    border-radius: .25rem;
}

.pictureCard .card-body, .pictureCard .carousel-inner, .pictureCard .carousel-item, .carousel {
    height: 100%;
}

.pictureCard .card-body {
    overflow: hidden;
}

.pictureCard .carousel-item img {
    margin: 0 auto;
}

.googleIcon {
    background-image: url('../images/GoogleIcon.png');
    background-size: contain;
    height: 20px;
    width: 20px;
    margin-right: 6px;
}
.bg-light {
    background-color: #ccc!important;
}

.baseScoreboard {
    background-color: #ccc;
    border: solid 1px #34003C;
    padding: 5px 0px 5px 0px;
    border-radius: .25rem;
}

#signInButton {
    display: flex;
}

.yourImg, .celebImg {
    max-width: 100%;
    max-height: 350px;
    padding-bottom: 15px;
}

/*Shadow effect on the bottom of the nav bar*/
.navbar {
    box-shadow: 0px 4px 8px 0px #888888;
}

/*particle div style*/
#particles-js{
    width: 100%;
    height: 100%;
    background-color: #b2aeb6;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%; 
    background-repeat: no-repeat;
    position: fixed;
    z-index: -100;
    top: 0;
  }

@media only screen and (max-width: 576px) {
    .jumbotronTitle {
        font-size: 2.7rem;
    }
}



/* Primary Color: #34003C */
/* Secondary Color: #CCCCCC */
/* Tertiary Color:  White */
/* standard button color: #630071 */