#fullNav {
    background-color: #34003C;
    color: white;
}
.jumbotron {
    background-color: #CCC;
    color: #34003C;
}
.btn-primary {
    background-color: #630071;
    border-color: #630071;
    color: white;
}


.btn-primary:hover {
    background-color: #34003C;
    color: white;
    border-color: #34003C;
}
.btn-primary:disabled {
    opacity: .5;
    background-color: #34003C;
    border-color: #34003C;
}

.processButton .fa-spinner {
    display: none;
}

.processButton.active .fa-spinner {
    display: inline-block;
}

.progress-bar {
    background-color: #630071;
}

#tdmbSubmit {
    width: 140px;
}

#celebritySearch {
    width: calc(100% - 140px);

}

.card-header {
    background-color:  #34003C
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: #34003C;
    border-radius: 10px;
}

.carousel-indicators .active {
    background-color: #34003C;
}

.carousel-indicators li {
    background-color: #8b039e;
}

.pictureCard {
    height: 580px;
}

.pictureCard .card-body, .pictureCard .carousel-inner, .pictureCard .carousel-item, .carousel {
    height: 100%;
}

.pictureCard .card-body {
    overflow: hidden;
}

.pictureCard .carousel-item img {
    margin: 0 auto;
}

.googleIcon {
    background-image: url('../images/GoogleIcon.png');
    background-size: contain;
    height: 20px;
    width: 20px;
    margin-right: 6px;
}

/* Primary Color: #34003C */
/* Secondary Color: #CCCCCC */
/* Tertiary Color:  White */
/* standard button color: #630071 */