.headQuestion {
    
}

#fullNav {
    background-color: #34003C;
    color: white;
}
.jumbotron {
    background-color: #CCC;
    color: #34003C;
}
.btn-primary {
    background-color: #630071;
    border-color: #630071;
    color: white;
}


.btn-primary:hover {
    background-color: #34003C;
    color: white;
    border-color: #34003C;
}
.btn-primary:disabled {
    opacity: .5;
    background-color: #34003C;
    border-color: #34003C;
}

.progress-bar {
    background-color: #630071;
}

#tdmbSubmit {
    width: 140px;
}

#celebritySearch {
    width: calc(100% - 140px);

}

/* Primary Color: #34003C */
/* Secondary Color: #CCCCCC */
/* Tertiary Color:  White */
/* standard button color: #630071 */